.people-form {
  display: flex;
  flex-direction: column;

  label:first-child {
    margin: 0 0 5px 0;
  }

  label {
    color: $color-silver;
    font-size: $font-size-md;
    margin: 20px 0 5px 0;
  }
}

.input-text {
  border: 0;
  border-bottom: solid 1px #333;
  outline: 0;
  padding: 5px 0;
  font-size: $font-size-lg;

  &[disabled] {
    color: $color-silver;
  }
}

.input-text--invalid {
  border-bottom: solid 1px $color-red;
}

.button-group {
  display: flex;
  flex-direction: column;
  @media #{$media-desktop} {
    flex-direction: row;
    justify-content: center;
  }
}

.add-button {
  @extend %button-shared;
  background-color: $color-green;
  color: $color-white;
  border-radius: 20px;
  font-size: $font-size-lg;
  margin-top: 10px;
  @media #{$media-desktop} {
    width: 200px;
    margin: 10px 5px;
  }

  &:hover {
    opacity: $opacity-inactive;
    cursor: pointer;
  }

  &[disabled], &[disabled]:hover {
    opacity: 1;
    background-color: $color-disabled;
    color: $color-disabledtext;
    cursor: default;
  }
}

.cancel-button {
  @extend %button-shared;
  background-color: #CCC;
  color: $color-white;
  border-radius: 20px;
  margin-top: 5px;
  font-size: $font-size-lg;
  @media #{$media-desktop} {
    width: 200px;
    margin: 10px 5px;
  }

  &:hover {
    opacity: $opacity-inactive;
    cursor: pointer;
  }
}

.validation {
  color: $color-red;
  font-size: $font-size-sm;
  margin: 2px 0 10px 0;
}