.people-form {
  display: flex;
  flex-direction: column;

  label:first-child {
    margin: 0 0 5px 0;
  }

  label {
    color: $color-silver;
    font-size: $font-size-md;
    margin: 20px 0 5px 0;
  }
}

.input-text {
  border: 0;
  border-bottom: solid 1px #333;
  outline: 0;
  padding: 5px 0;
  font-size: $font-size-lg;
}

.input-text--invalid {
  border-bottom: solid 1px $color-red;
}

.add-button {
  @extend %button-shared;
  background-color: $color-green;
  color: $color-white;
  border-radius: 20px;
  font-size: $font-size-lg;
  margin-top: 10px;
}

.add-button:hover {
  opacity: $opacity-inactive;
  cursor: pointer;
}

.add-button--disabled, .add-button--disabled:hover {
  opacity: 1;
  background-color: $color-disabled;
  color: $color-disabledtext;
  cursor: default;
}

.validation {
  color: $color-red;
  font-size: $font-size-sm;
  margin: 2px 0 10px 0;
}